:root {
    --background: #16161a;
    --headline: #fffffe;
    --paragraph: #94a1b2;
    --button: #7f5af0;
    --button-text: #fffffe;

    /*
        Illustrations
    */
    --stroke: #111114;
    --main: #fffffe;
    --highlight: #7f5af0;
    --secondary: #72757e;
    --tertiary: #2cb67d;
}


h1 {
    font-size: 48px;
    color: var(--headline);
}

h2 {
    font-size: 40px;
    color: var(--headline);
}

h3 {
    font-size: 34px;
    color: var(--headline);
}

h4 {
    font-size: 28px;
    color: var(--headline);
}

h5 {
    font-size: 24px;
    color: var(--headline);
}

h6 {
    font-size: 20px;
    color: var(--headline);
}

p {
    font-size: 20px;
    color: var(--paragraph);
}

a {
    font-weight: bold;
    font-size: inherit;
    color: var(--headline);
    text-decoration: none;
}

a:hover {
    font-weight: bold;
    font-size: inherit;
    color: var(--tertiary);
    text-decoration: none;
}

.btn-primary {
    padding: 15px;
    color: var(--headline);
    background-color: var(--button);
    border: none;
    border-radius: 0px;
}

.btn-primary:hover {
    color: var(--background);
    background-color: var(--button);
}

.btn-secondary {
    padding: 15px;
    color: var(--headline);
    background-color: var(--tertiary);
    box-sizing: border-box;
    border-radius: 0px;
}

.btn-secondary:hover {
    color: var(--background);
    background-color: var(--tertiary);
}

input {
    background: transparent;
    padding: 15px;
    border: 3px solid var(--stroke);
    color: var(--headline);
    width: 100%;
}

::placeholder {
    color: var(--paragraph);
    opacity: 0.7;
}

@media (min-width: 1200px) {
    .container{
        max-width: 1600px;
    }
}

fa {
    color: var(--tertiary);
}

label {
    color: var(--headline);
}

hr {
    border: 1px solid var(--stroke);
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: var(--background);
}

::-webkit-scrollbar-thumb {
    background: var(--button);
}

.card {
    padding: 20px;
    background: transparent;
    background: var(--stroke);
    border-radius: 0px;
}

#message-container {
    color: var(--paragraph);
}
