:root {
    --background: #16161a;
    --headline: #fffffe;
    --paragraph: #94a1b2;
    --button: #7f5af0;
    --button-text: #fffffe;

    /*
        Illustrations
    */
    --stroke: #111114;
    --main: #fffffe;
    --highlight: #7f5af0;
    --secondary: #72757e;
    --tertiary: #2cb67d;
}


h1 {
    font-size: 67.34px;
    color: var(--headline);
}

h2 {
    font-size: 50.52px;
    color: var(--headline);
}

h3 {
    font-size: 37.90px;
    color: var(--headline);
}

h4, h5, h6 {
    font-size: 28.43px;
    color: var(--headline);
}

p {
    font-size: 28.43px;
    color: var(--paragraph);
}

a {
    font-weight: bold;
    font-size: inherit;
    color: var(--headline);
    text-decoration: none;
}

a:hover {
    font-weight: bold;
    font-size: inherit;
    color: var(--tertiary);
    text-decoration: none;
}

.btn-primary {
    padding: 15px;
    color: var(--headline);
    background-color: var(--button);
    border: none;
}

.btn-primary:hover {
    color: var(--background);
    background-color: var(--button);
}

.btn-secondary {
    padding: 15px;
    color: var(--headline);
    background-color: var(--tertiary);
    box-sizing: border-box;
}

.btn-secondary:hover {
    color: var(--background);
    background-color: var(--tertiary);
}

input {
    background: transparent;
    padding: 15px;
    border: 5px solid var(--stroke);
    color: var(--headline);
    width: 100%;
}

::placeholder {
    color: var(--paragraph);
    opacity: 0.7;
}

@media (min-width: 1200px) {
    .container{
        max-width: 1600px;
    }
}

fa {
    color: var(--tertiary);
}

label {
    color: var(--headline);
}

hr {
    border: 1px solid var(--stroke);
}
